{% extends "base.html" %} {% block content %}

<section>
    <h1>About Tressym Dice</h1>
</section>

<section>
    <p>Hi! I'm Rachel and I like to make dice for TTRPG games including Dungeons & Dragons and Pathfinder. They are made using epoxy resin, dyes, and whatever fun things I can think of putting inside. </p>
    <p>As these are handmade dice, some defects may be present but they will not affect playability. I will provide pictures showing any known defects in the die, and they will be marked down in price accordingly.</p>
</section>

{% endblock %}